.home {
  color: rgb(255, 192, 252);
  background-color: #eceff1;
}
.ouServices {
  color: rgb(104, 204, 21);
  background-color: #eceff1;
}
.contactUs {
  color: rgb(0, 162, 255);
  background-color: #eceff1;
}
